<div class="container">
  <%= form_for @article, :html => {class: "form-group"} do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content, size: "30x4" %>
    </div>
    <%= f.submit %>
  <% end %>
  <%= link_to "Back to articles", articles_path %>
</div>
